<div class='container detail-page'>
  <h1>{{imperfection.title}}</h1>
  <p>By: {{imperfection.author}}</p>
  <p>On: {{format-date imperfection.date}}</p>
  <p>Category: {{imperfection.category}}</p>
  <p>Found At: {{imperfection.location}}</p>
  <p><img class="img-round" src={{imperfection.image}} alt={{imperfection.title}} /></p>
</div>
